.Seat {
  position: relative;
  color: var(--accent);

  &:not([class*="reserved"]) {
    cursor: pointer;
  }

  i {
    text-shadow: 0 2px 2px rgb(0, 0, 0, 0.4);
  }
}
.seatNum {
  pointer-events: none;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light);
  font-size: calc(var(--seats-size) * 0.4);
  font-weight: 700;
}

.available {
  color: var(--accent);
}
.reserved {
  color: var(--statusReserved);
}
.selected {
  color: var(--statusSelected);
}


