:root {
  /* colors */
  --accent: rgb(58, 172, 148);
  --secondary: rgb(86, 85, 85);
  --linkColor: rgba(11, 76, 126, 0.68);
  --default: rgba(7, 7, 7, 0.864);
  --light: rgba(231, 247, 246, 0.864);

  /* sizes */
  --margin: 12px;
}
