:root {
  --imgWidth: 300px;
}

.MovieCard {
  border: 1px solid grey;
  padding: 16px;
}

.imgBlock {
  width: var(--imgWidth);
  height: calc(var(--imgWidth) / 1.5);
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

img {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
